<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED | RGB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.calpardo.com/css/calparbox.css">
    <link rel="icon" href="https://calpardo.com/img/logo/favicon.ico" type="image">
    <link rel="icon" href="https://calpardo.com/img/logo/favicon.ico" type="image">
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="font-family:Sans-serif;font-size:25px;color:#13cf64" href="https://www.calpardo.com">CalparBOX Control Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="lcd">LCD</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           LED Types
       </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="ledoff">Basic</a>
          <a class="dropdown-item" href="ledrgb">RGB</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>-->
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Coming Soon</a>
      </li>
    </ul>
  </div>
</nav>
    
    <br>

    <!--Content-->
    <center>
<div class="container">
<img onclick="openFullscreen();" id="liveimg" src="http://24.133.222.187:81/?action=stream" width="100%" height="550px"></img>
<br>
<br>
<br>
<div style="justify-content: space-between;display:flex;">
    <h3>Enter RGB values and then submit (0,0,0 to turn off)</h3>
        <form method="POST" action="ledrgb">
            <input type="number" name="redvalue" placeholder="Red" min="0" max="255" >
            <input type="number" name="greenvalue" placeholder="Green" min="0" max="255" >
            <input type="number" name="bluevalue" placeholder="Blue" min="0" max="255" >
            <button type="button" class="btn btn-success" onclick="submit();" >Submit</button>
        </form>
    </div>
</div>
</center>




        <script src="https://www.calpardo.com/js/calparbox.js"></script>
     
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>